API_ID=28580773
API_HASH=f80e465a8805bee5c6bf29fa12d6cc0c
BOT_TOKEN=5759235328:AAEmeOXoCxM7RNQRZbVSEYkyNBzujNxbJ1c
LOG_GROUP_ID=-1002430579671
MONGO_DB_URI=mongodb+srv://Visionbot:Visionbot@visionbot.bhbwcls.mongodb.net/?retryWrites=true&w=majority&appName=Visionbot
OWNER_ID=5016109398
STRING_SESSION=BQAf70YAXJRuHI2FxTs0IXpl4oZUCxkcrk2Y9HB9v3iZzmqVPrOr8K2FQD7MIqO3x6TBMAiMqhCHr1-LmzpprJWOPgIoAWldrMCFGY4cBKRZeQOVhrD6t1o9nTstkst3WphbKmv61pCiWrCzywRXOiD82WcTUWmoWQtKvrr8FGBOwy94onotZ71Ja6EaFgWLOfoXPf_mHD3-eQDo-2Bfaq0VKH8ghfzqiWtaVI8zj-rNkLHdwFPJgxxDF2H1F6USjNIWcvWnKNMozKM5qtr0UXJHIpNh_V-MseszHxfwfQUAhsotlEgrxEHGY-q8YuDzli4q1ljChJmnYzxizlW58-DGzBW7WQAAAAHnKAsqAA
